<div class="space"></div>
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-50px-tb page-title-small">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-md-6 text-center text-md-left">
                <!-- start page title -->
                <h1 class="alt-font text-extra-dark-gray font-weight-600 mb-0">Galeri</h1>
                <!-- end page title -->
                <!-- start sub title -->
                <span class="d-block margin-5px-top alt-font">Sanat Yaz Eğitim Kurumlar Fotoğraf Galerisi</span>
                <!-- end sub title -->
            </div>
            <div
                class="col-xl-4 col-md-6 breadcrumb text-small alt-font justify-content-center justify-content-md-end sm-margin-15px-top">
                <!--start breadcrumb -->
                <ul>
                    <li><a routerLink="/" class="text-dark-gray">Anasayfa</a></li>
                    <li class="text-dark-gray">Galeri</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<section style="visibility: visible; animation-name: fadeIn; padding: 30px 0 10px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 text-center sm-margin-40px-bottom">
                <div class="position-relative overflow-hidden w-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">FOTOĞRAF
                        KATEGORİLERİ</span>
                </div>
            </div>
        </div>
        <!--pc display-->
        <div class="row blog pc">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators mt-5" style="height: 30px;">
                        <div *ngFor="let element of photoCategories; let i = index">

                            <li *ngIf="element.isActive==true && i==0" data-target="#blogCarousel" data-slide-to="0"
                                class="active"></li>

                            <li *ngIf="element.isActive==true && i==4" data-target="#blogCarousel" data-slide-to="1" >
                            </li>

                            <li *ngIf="element.isActive==true && i==8" data-target="#blogCarousel" data-slide-to="2" >
                            </li>

                            <li *ngIf="element.isActive==true && i==12" data-target="#blogCarousel" data-slide-to="3" >
                            </li>
                        </div>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <ng-template ngFor let-item [ngForOf]="photoCategories" let-i="index">

                            <div class="carousel-item active" *ngIf="i == 0">
                                <div class="row">
                                    <ng-template ngFor let-item [ngForOf]="photoCategories" let-i="index">
                                        <div class="col-md-3 sm-margin-five-bottom last-paragraph-no-margin">
                                            <a routerLink="/galleryDetail/{{item.id}}" *ngIf="i < 4 && item.isActive==true">
                                                <div class="feature-box mb-5">
                                                    <div class="content">
                                                        <i
                                                            class="fab fa-buffer text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                                        <div
                                                            class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">
                                                            {{item.name}}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </ng-template>
                                </div>
                                <!--.row-->
                            </div>                            

                            <div class="carousel-item" *ngIf="i == 4">
                                <div class="row">
                                    <ng-template ngFor let-item [ngForOf]="photoCategories" let-i="index">
                                        <div class="col-md-3 sm-margin-five-bottom last-paragraph-no-margin">

                                            <a routerLink="/galleryDetail/{{item.id}}" *ngIf="i > 3 && i < 8 && item.isActive ==true">
                                                <div class="feature-box mb-5">
                                                    <div class="content">
                                                        <i
                                                            class="fab fa-buffer text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                                        <div
                                                            class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">
                                                            {{item.name}}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </ng-template>
                                </div>
                                <!--.row-->
                            </div>

                            <div class="carousel-item" *ngIf="i == 8">
                                <div class="row">
                                    <ng-template ngFor let-item [ngForOf]="photoCategories" let-i="index">
                                        <div class="col-md-3 sm-margin-five-bottom last-paragraph-no-margin">

                                            <div class="content" *ngIf="i > 7 && i < 12 && item.isActive ==true">
                                                <i
                                                    class="fab fa-buffer text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                                <div
                                                    class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">
                                                    {{item.name}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                                <!--.row-->
                            </div>

                            <div class="carousel-item" *ngIf="i == 12">
                                <div class="row">
                                    <ng-template ngFor let-item [ngForOf]="photoCategories" let-i="index">
                                        <div class="col-md-3 sm-margin-five-bottom last-paragraph-no-margin">

                                            <div class="content" *ngIf="i > 11 && i < 16 && item.isActive==true">
                                                <i
                                                    class="fab fa-buffer text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                                <div
                                                    class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">
                                                    {{item.name}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                                <!--.row-->
                            </div>
                        </ng-template>
                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
        <!--mobile display-->
        <div class="row mobile">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <carousel>
                    <slide *ngFor="let item of photoCategories | orderby:'order'">


                        <div class="swiper-slide text-center swiper-slide-next red-text bg-extra-light-gray">
                            <div class="col-12 sm-margin-five-bottom last-paragraph-no-margin">
                                <a routerLink="/galleryDetail/{{item.id}}">
                                    <div class="feature-box">
                                        <div class="content">
                                            <i
                                                class="fab fa-buffer text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                                            <div
                                                class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">
                                                {{item.name}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </slide>
                </carousel>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>

</section>
<!-- start gallery section -->
<section class="wow fadeIn" style="padding: 10px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 text-center py-3">
                <div class="position-relative overflow-hidden w-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">SEÇİLEN
                        KATEGORİYE AİT FOTOĞRAFLAR</span>
                </div>
            </div>
        </div>
        <!-- <div class="row zoom-gallery">
            <ul class="portfolio-grid work-3col hover-option2 gutter-small w-100 h-100">
                <li class="grid-sizer"></li>


                <div *ngFor="let item2 of photoGalleries">
                    <div *ngIf="!photoCategory ; else deneme">
                        <li class="grid-item wow fadeInUp" *ngIf="item2.photoCategoryId ==1">
                            <a href="https://yonetim.sanatyaz.com/{{item2.imageUrl}}" title="Galeri/Genel Resimler">
                                <figure>
                                    <div class="portfolio-img bg-extra-dark-gray"><img
                                            src="https://yonetim.sanatyaz.com/{{item2.imageUrl}}" alt=""
                                            class="project-img-gallery" /></div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-center">
                                            <div class="portfolio-hover-box vertical-align-middle">
                                                <div class="portfolio-hover-content position-relative">
                                                    <i class="fas fa-search-plus text-white-2 fa-2x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </div>
                    <ng-template #deneme>
                        <div *ngIf="photoCategory.id==item2.photoCategoryId">
                            <li class="grid-item wow fadeInUp">
                                <a href="https://yonetim.sanatyaz.com/{{item2.imageUrl}}"
                                    title="Galeri/{{photoCategory.name}}">
                                    <figure>
                                        <div class="portfolio-img bg-extra-dark-gray"><img
                                                src="https://yonetim.sanatyaz.com/{{item2.imageUrl}}" alt=""
                                                class="project-img-gallery" /></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-center">
                                                <div class="portfolio-hover-box vertical-align-middle">
                                                    <div class="portfolio-hover-content position-relative">
                                                        <i class="fas fa-search-plus text-white-2 fa-2x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                        </div>
                    </ng-template>
                </div>

            </ul>
        </div> -->
        <div class="row">

            <div class='list-group gallery w-100'>

                <div *ngFor="let item2 of photoGalleries">
                    <div *ngIf="!photoCategory ; else deneme">

                        <div *ngIf="item2.photoCategoryId ==1"
                            class='col-sm-4 col-xs-6 col-md-4 col-lg-4 w-100 h-100 float-left mb-4'>
                            <a class="thumbnail fancybox" rel="ligthbox"
                                href="https://yonetim.sanatyaz.com/{{item2.imageUrl}}">
                                <img class="img-responsive" alt=""
                                    src="https://yonetim.sanatyaz.com/{{item2.imageUrl}}" />
                            </a>                           
                        </div> <!-- col-6 / end -->
                    </div>
                    <ng-template #deneme>

                        <div *ngIf="photoCategory.id==item2.photoCategoryId"
                            class='col-sm-4 col-xs-6 col-md-4 col-lg-4 w-100 h-100 float-left mb-4'>
                            <a class="thumbnail fancybox" rel="ligthbox"
                                href="https://yonetim.sanatyaz.com/{{item2.imageUrl}}">
                                <img class="img-responsive" alt=""
                                    src="https://yonetim.sanatyaz.com/{{item2.imageUrl}}" />
                            </a>
                        </div> <!-- col-6 / end -->

                    </ng-template>
                </div>
            </div> <!-- list-group / end -->
        </div> <!-- row / end -->

    </div>
</section>