<app-popup></app-popup>
<app-slider></app-slider>
<!-- start about agency -->
<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <app-statement></app-statement>
        <app-promotion></app-promotion>
    </div>
</section>
<!-- end about agency section -->
<!-- start feature box section -->
<app-category></app-category>
<!-- start feature box section -->
<app-portfolio></app-portfolio>
<!-- start team section -->
<app-personel></app-personel>
<!-- end team section -->

<!-- start explore work section -->
<app-purpose></app-purpose>
<!-- end explore work section -->

<!-- start blog section -->
<app-blog></app-blog>
<!-- end blog section -->
<!--instagram band-->
<app-instagramband></app-instagramband>
<!-- start call to action section -->
<app-ebulten></app-ebulten>

