<section class="wow fadeIn padding-60px-tb md-padding-40px-tb bg-deep-pink">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-white">
                <h4 class="alt-font font-weight-600 text-extra-dark-gray">E-Bülten</h4>
                <p class="width-65 mx-auto md-width-100 ">Haftalık bilgilendirme için e-bültenimize abone olun.</p>
                
                <form [formGroup]="userAddForm" (ngSubmit)="addUser()">
                    <div id="success-subscribe-newsletter" class="mx-0" style="display: none;"></div>
                    <div class="input-group margin-40px-tb">
                        <input name="eMail" formControlName="eMail" type="text" placeholder="* E-Posta Adresiniz"
                            class="extra-big-input border-none form-control">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-large bg-white text-deep-pink" [disabled]="!userAddForm.valid"><i
                                    class="far fa-envelope icon-small m-0"></i></button>
                        </div>
                    </div>
                </form>

               
                <span class="text-extra-small text-white">* Kişisel bilgilerinizi kimseyle paylaşmayız. Daha fazla bilgi
                    için <a href="#" style="color: black;" class="text-decoration-underline" data-toggle="modal"
                        data-target="#policyModal">Gizlilik Politikamıza</a> bakın. </span>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="policyModal" tabindex="-1" aria-labelledby="policyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-black text-white-50">
            <div class="modal-header">
                <h5 style="font-size:20px!important" class="modal-title" id="staticBackdropLabel">SANAT YAZ EĞİTİM
                    KURUMLARI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white-50" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="arc-richtext-editor-wrapper col-xs-12">

                    <p style="text-align: center;"><b>Çerez Aydınlatma Metni</b></p>

                    <p>Sanat Yaz Eğitim Kurumları (“Sanat Yaz Eğitim Kurumları” veya “<b>Kurum</b>” olarak anılacaktır)
                        olarak, web sitelerimiz&nbsp;(“<b>Site</b>”),&nbsp;uygulamalarımız ya da dijital ortamda
                        sizlerin kullanımına sunduğumuz benzeri tüm&nbsp;çevrimiçi&nbsp;ya da
                        çevrimdışı&nbsp;mecralarımızı&nbsp;(anılan tüm mecralar
                        birlikte&nbsp;“<b>Platform</b>”&nbsp;olarak anılacaktır.)&nbsp;kullanımınız
                        veya&nbsp;ziyaretiniz sırasında sizlerin deneyimini&nbsp;geliştirmek için çerezler,
                        pikseller,&nbsp;GIFler&nbsp;vb.&nbsp;birtakım&nbsp;teknolojilerden (“<b>çerezler</b>”)
                        faydalanmaktayız.&nbsp;</p>

                    <p>Bu teknolojilerin kullanımı başta 6698 sayılı Kişisel Verilerin Korunması Kanunu (“<b>KVK
                            Kanunu</b>”) olmak üzere tabi olduğumuz mevzuata uygun şekilde gerçekleştirilmektedir.</p>

                    <p>İşbu&nbsp;Çerez Aydınlatma<i> </i>Metni’nin&nbsp;amacı,&nbsp;Platformların kullanımı esnasında
                        kullanılmakta olan&nbsp;çerez&nbsp;ve piksel gibi kişisel verilerin toplanması yoluyla kişisel
                        verilerin işlenmesi&nbsp;nedeniyle&nbsp;elde edilen kişisel verilerin işlenmesine ilişkin olarak
                        sizlere bilgi vermektir.&nbsp;&nbsp;İşbu metinde sitemizde ve uygulamamızda hangi amaçlarla
                        hangi tür çerezleri kullandığımızı ve bu çerezleri nasıl kontrol edebileceğinizi sizlere
                        açıklamak istiyoruz.</p>

                    <p>Sanat Yaz Eğitim Kurumları olarak sitemizde ve uygulamamızda kullandığımız çerezleri kullanmaktan
                        vazgeçebilir, bunların türlerini veya fonksiyonlarını değiştirebilir veya sitemize ve
                        uygulamamızda yeni çerezler ekleyebiliriz. Dolayısıyla işbu Çerez Aydınlatma Metni’nin
                        hükümlerini dilediğimiz zaman değiştirme hakkını saklı tutarız. Güncel Çerez Aydınlatma Metni
                        üzerinde gerçekleştirilmiş olan her türlü değişiklik sitede, uygulamada veya herhangi bir kamuya
                        açık mecrada yayınlanmakla birlikte yürürlük kazanacaktır. Son güncelleme tarihini metnin
                        sonunda bulabilirsiniz.</p>
                    <p>Kişisel verilerinizin Kurumumuz tarafından işlenme amaçları konusunda detaylı
                        bilgilere&nbsp;&nbsp;[<b><a href="/kisisel-verilerin-korunmasi"
                                target="_self">https://www.sanatyaz.com.tr/kisisel-verilerin-korunmasi</a></b>]&nbsp;yer
                        alan Sanat Yaz Eğitim Kurumları<b>&nbsp;</b>Kişisel Verilerin Korunması ve İşlenmesi
                        Politikası’ndan ulaşabilirsiniz.&nbsp;</p>

                    <p><b>Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</b></p>
                    <p>Kişisel verileriniz, internet sitemizi ziyaretiniz kapsamında veya uygulamamızı kullanmanız
                        dolayısıyla elektronik ortamda çerezler yoluyla Kurumumuzin meşru menfaatine yönelik hukuki
                        sebebe dayalı olarak toplanmaktadır. <a>H</a>edefleme ve profilleme vasıtasıyla gerçekleştirilen
                        pazarlama ve reklamcılık faaliyetleri ise yalnızca açık rızanız olması halinde
                        gerçekleştirilmektedir.&nbsp;Toplanan kişisel verileriniz Kanun’un 5. ve 6. maddelerinde
                        belirtilen kişisel veri işleme şartları ve amaçları kapsamında işbu Çerez Aydınlatma Metni’nde
                        belirtilen amaçlarla da işlenebilmektedir.</p>
                    <p><b>Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</b></p>
                    <p>Sanat Yaz Eğitim Kurumları olarak, Çerez Aydınlatma Metni kapsamındaki kişisel verilerinizi
                        yukarıda belirtilen amaçların gerçekleştirilebilmesi ile sınırlı olarak ve mevzuata uygun
                        şekilde<a>&nbsp;</a>&nbsp;tedarikçilerimize, kanunen yetkili kamu kurumlarına ve özel kişilere
                        paylaşabiliriz</p>
                    <p><b>Hangi Çerezler Hangi Amaçlarla Kullanılmaktadır?</b></p>
                    <p><b>Genel Olarak</b></p>
                    <p>Sanat Yaz Eğitim Kurumları. olarak sitemizde çeşitli amaçlarla çerezler kullanmakta ve bu
                        çerezler vasıtasıyla kişisel verilerinizi işlemekteyiz. Bu amaçlar başlıca şunlardır:</p>
                    <p>–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Site’nin çalışması için gerekli temel fonksiyonları
                            gerçekleştirmek.</b> Örneğin, oturum açan üyelerin Site’de farklı sayfaları ziyaret ederken
                        tekrar şifre girmelerine gerek kalmaması.</p>
                    <p>–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Site’yi analiz etmek ve Site’nin performansını
                            arttırmak.</b> Örneğin, Site’nin üzerinde çalıştığı farklı sunucuların entegrasyonu,
                        Site’yi<b> </b>ziyaret edenlerin sayısının tespit edilmesi ve buna göre performans ayarlarının
                        yapılması ya da ziyaretçilerin aradıklarını bulmalarının kolaylaştırılması.</p>
                    <p>–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Site’nin işlevselliğini arttırmak ve kullanım kolaylığı
                            sağlamak. </b>Örneğin, Site üzerinden üçüncü taraf sosyal medya mecralarına paylaşımda
                        bulunmak, Site’yi ziyaret eden ziyaretçinin daha sonraki ziyaretinde kullanıcı adı bilgisinin ya
                        da arama sorgularının hatırlanması.</p>
                    <p>–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Kişiselleştirme, hedefleme ve reklamcılık faaliyeti
                            gerçekleştirmek. </b>Örneğin,<b> </b>ziyaretçilerin görüntüledikleri sayfa ve ürünler
                        üzerinden ziyaretçilerin ilgi alanlarıyla bağlantılı reklam gösterilmesi.&nbsp;</p>
                    <p>KVK Kanunu’nun 5. ve 8. maddeleri uyarınca ve/veya ilgili mevzuattaki istisnaların varlığı
                        halinde kişisel verileriniz mevzuat uyarınca gerekli olan hallerde rızanız doğrultusunda, aksi
                        hallerde rızanız alınmaksızın yukarıdaki amaçlar doğrultusunda işlenebilecektir. Sanat Yaz
                        Eğitim Kurumları. olarak, aydınlatma metni kapsamındaki kişisel&nbsp; verilerinizi yukarıda
                        belirtilen amaçların gerçekleştirilebilmesi ile sınırlı olarak ve mevzuata uygun şekilde
                        Kurumumuzin hizmetlerinden faydalandığı üçüncü kişilerle, bağlı ortaklıklarımızla, iş
                        ortaklarımızla ve grup Kurumlerimiz ile paylaşabiliriz. Verilerin aktarıldığı tarafların kişisel
                        verilerinizi dünyanın her yerindeki sunucularında saklayabileceğini belirtmek isteriz.</p>
                    <p><b>Sitemizde ve Uygulamamızda Kullanılan Çerezler</b></p>
                    <p>Aşağıda sitemizde ve uygulamamızda kullandığımız farklı türdeki çerezleri bulabilirsiniz.
                        <a></a>Sitemizde ve uygulamamızda hem birinci parti çerezler (ziyaret ettiğiniz site tarafından
                        yerleştirilen) hem de üçüncü parti çerezleri (ziyaret ettiğiniz site haricindeki sunucular
                        tarafından yerleştirilen) kullanılmaktadır.&nbsp;</p>
                    <p><b>Zorunlu Çerezler</b></p>
                    <p>Belli çerezlerin kullanımı sitemizin ve uygulamamızın doğru biçimde çalışması için zorunludur.
                        Örneğin sitemizde oturum açtığınızda devreye giren kimlik doğrulama çerezleri, sitemizde bir
                        sayfadan diğerine geçişinizde etkin olan oturumunuzun devam etmesini sağlamaktadır.&nbsp;</p>
                    <p><b>İşlevsellik</b> <b>ve Tercih Çerezleri</b></p>
                    <p>Bu çerezler sizlerin site ve uygulama üzerindeki tercihlerini ve seçimlerinizi hatırlayarak
                        sitemizde sunulan hizmetlerin sizin için kişiselleşmesini sağlamaktadır. Örneğin sitemiz
                        üzerindeki dil seçiminizi veya bir metin okurken seçmiş olduğunuz font boyutunu hatırlamamızı
                        sağlar.</p>
                    <p><b>Sosyal Medya Çerezleri</b></p>
                    <p>Bu çerezler sizlerin sosyal medya kullanımlarınız hakkında bilgilerin toplanmasını sağlar.
                        Örneğin Kişiselleştirilmiş reklamlar oluşturulması ya da market araştırmaları yapılması için
                        Facebook/Twitter hesaplarınıza ait bilgilerin kullanılması için çerezler kullanılabilir.</p>
                    <p><b>Performans ve Analiz Çerezleri</b></p>
                    <p>Bu çerezler sayesinde sitemizi ve uygulamamızı kullanımınızı ve performans analizi yaparak
                        sizlere verdiğimiz hizmetleri daha iyi hale getirebiliyoruz. Örneğin bu çerezler sayesinde
                        ziyaretçilerimizin en çok hangi sayfaları görüntülediğini, sitemizin gerektiği gibi çalışıp
                        çalışmadığını ve olası problemleri tespit edebiliyoruz.&nbsp;</p>
                    <p><b>Hedefleme veya reklam çerezleri</b></p>
                    <p>Sizlere sitemizde veya sitemiz haricindeki mecralarda ürün ve hizmet tanıtımını yapmak için
                        çerezler kullanıyoruz. Ayrıca bazı iş ortaklarımızla sizlere sitemiz dahilinde veya dışında
                        reklam ve tanıtım yapmak için iş birliğine gidebiliriz. Örneğin, sitemizde gördüğünüz bir
                        reklama tıklayıp tıklamadığınızı, eğer reklam ilginizi çektikten sonra o reklam yönlendirdiği
                        sitedeki hizmetten faydalanıp faydalanmadığınızı takip etmek için çerezler
                        kullanılabilmektedir.&nbsp;</p>
                    <p><b>Çerezlerin Kullanımını Nasıl Kontrol Edebilirim?</b></p>
                    <p>Çerez ve benzeri teknolojilerin kullanımı konusunda ziyaretçi ve kullanıcılarımızın tercihleri
                        bizler için esastır. Buna karşın, Platform’un çalışması için zorunlu olan Çerezler’in
                        kullanılması gerekmektedir. Ek olarak bazı çerezlerin kapatılması halinde Platform’un birtakım
                        işlevlerinin kısmen ya da tamamen çalışmayabileceğini hatırlatmak isteriz.</p>

                    <p>Platform’da&nbsp;kullanılan&nbsp;çerezlere&nbsp;dair tercihlerinizi ne şekilde yönetebileceğinize
                        ilişkin bilgiler aşağıdaki gibidir: &nbsp;</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ziyaretçiler,&nbsp;Platform’u&nbsp;görüntüledikleri
                        tarayıcı ayarlarını değiştirerek çerezlere ilişkin tercihlerini kişiselleştirme imkanına
                        sahiptir. Eğer kullanılmakta olan tarayıcı bu imkânı sunmaktaysa, tarayıcı ayarları
                        üzerinden&nbsp;çerezlere&nbsp;ilişkin tercihleri değiştirmek mümkündür. Böylelikle, tarayıcının
                        sunmuş olduğu imkânlara göre farklılık gösterebilmekle birlikte, veri sahiplerinin çerezlerin
                        kullanılmasını engelleme, çerez kullanılmadan önce uyarı almayı tercih etme veya sadece
                        bazı&nbsp;çerezleri&nbsp;devre bırakma ya da silme imkanları bulunmaktadır.</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bu konudaki tercihler kullanılan tarayıcıya göre
                        değişiklik göstermekle birlikte genel açıklamaya <a href="https://www.aboutcookies.org/"
                            target="_blank">https://www.aboutcookies.org/</a>  adresinden ulaşmak mümkündür. Çerezlere
                        ilişkin tercihlerin, ziyaretçinin&nbsp;Platform’a&nbsp;erişim sağladığı her bir cihaz özelinde
                        ayrı ayrı yapılması gerekebilecektir.&nbsp;</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Google Analytics tarafından
                        yönetilen&nbsp;çerezleri&nbsp;kapatmak için <a href="https://tools.google.com/dlpage/gaoptout"
                            target="_blank">tıklayınız</a>.</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Google tarafından sağlanan kişiselleştirilmiş reklam
                        deneyimini yönetmek için <a href="https://www.google.com/settings/ads/"
                            target="_blank">tıklayınız</a>.&nbsp;</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Birçok firmanın reklam faaliyetleri için kullandığı
                        çerezler bakımından tercihler <a href="http://www.youronlinechoices.com/tr/reklam-tercihleriniz"
                            target="_blank">Your Online Choices</a>&nbsp;üzerinden yönetilebilir.</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mobil cihazlar üzerinden&nbsp;çerezleri&nbsp;yönetmek
                        için mobil cihaza ait ayarlar menüsü kullanılabilir.&nbsp;</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarayıcınızın ayarlarını değiştirerek çerezlere
                        ilişkin tercihlerinizi kişiselleştirme imkanına sahipsiniz.&nbsp;</p>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Adobe Analytics</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="http://www.adobe.com/uk/privacy/opt-out.html">http://www.adobe.com/uk/privacy/opt-out.html</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>AOL</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser">https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Google Adwords</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="https://support.google.com/ads/answer/2662922?hl=en">https://support.google.com/ads/answer/2662922?hl=en</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Google Analytics</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Google Chrome</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="http://www.google.com/support/chrome/bin/answer.py?hl=en&amp;answer=95647">http://www.google.com/support/chrome/bin/answer.py?hl=en&amp;answer=95647</a><u></u>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Internet Explorer</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>MozillaFirefox</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="http://support.mozilla.com/en-US/kb/Cookies">http://support.mozilla.com/en-US/kb/Cookies</a><u></u>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Opera</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="http://www.opera.com/browser/tutorials/security/privacy/">http://www.opera.com/browser/tutorials/security/privacy/</a><u></u>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="19%" valign="top">
                                    <p>Safari:</p>
                                </td>
                                <td width="80%" valign="top">
                                    <p><a
                                            href="https://support.apple.com/kb/ph19214?locale=tr_TR">https://support.apple.com/kb/ph19214?locale=tr_TR</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p><b>Veri Sahibi Olarak Haklarınız Nelerdir?</b></p>
                    <p>KVK Kanunu’nun 11. maddesi uyarınca veri sahipleri,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kişisel veri işlenip işlenmediğini öğrenme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kişisel verileri işlenmişse buna ilişkin bilgi talep
                        etme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kişisel verilerin işlenme amacını ve bunların amacına
                        uygun kullanılıp kullanılmadığını öğrenme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; yurt içinde veya yurt dışında kişisel verilerin
                        aktarıldığı üçüncü kişileri bilme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kişisel verilerin eksik veya yanlış işlenmiş olması
                        hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin
                        aktarıldığı üçüncü kişilere bildirilmesini isteme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; KVK Kanunu ve ilgili diğer kanun hükümlerine uygun
                        olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde
                        kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel
                        verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; işlenen verilerin münhasıran otomatik sistemler
                        vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına
                        itiraz etme,</p>
                    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kişisel verilerin kanuna aykırı olarak işlenmesi
                        sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme</p>
                    <p>haklarına sahiptir.</p>
                    <p>Söz konusu haklarınıza ilişkin taleplerinizi, <a
                            href="mailto:info@sanatyaz.com?subject=KVKK Hk. (sanatyaz.com)">info@sanatyaz.com</a>
                        adresine e-posta atarak Kurumumuza iletebilirsiniz. Talebinizin niteliğine göre en kısa sürede
                        ve en geç otuz gün içinde başvurularınız ücretsiz olarak sonuçlandırılacaktır; ancak işlemin
                        ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından belirlenecek
                        tarifeye göre tarafınızdan ücret talep edilebilecektir.</p>


                </div>
            </div>
        </div>
    </div>
</div>